@font-face {
  font-family: 'RammettoOne-Regular';
  src: url('../../fonts/RammettoOne-Regular.ttf');
}

@font-face {
  font-family: 'lato-regular-webfont';
  src: url('../../fonts/lato-regular-webfont.ttf');
}

@font-face {
  font-family: 'roboto-regular-webfont';
  src: url('../../fonts/roboto-regular-webfont.ttf');
}

@font-face {
  font-family: 'magra-bold-webfont';
  src: url('../../fonts/magra-bold-webfont.ttf');
}

* {
  padding: 0;
  margin: 0;
}

.logo {
  font-family: 'RammettoOne-Regular';
  color: #cb3362;
  font-size: 25px;
  margin-right: 15%;
}

.top-part {
  position: relative;
  left: 80px;
  top: 23px
}

.logo>section>span {
  color: #c8c10d;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 120px;
  background-color: #efedee;
}

nav {
  width: 60%;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  margin: 45px 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'lato-regular-webfont';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav li:nth-child(4)>a:nth-child(2) {
  display: none;
}

nav a:hover {
  color: #c8c10d;
}


nav a {
  padding: 5px;
  text-decoration: none;
  color: #7a6666;
}

nav>li:nth-child(3)>a:last-child {
  color: #cb3362;
}

main section.title {
  font-family: 'lato-regular-webfont';
  width: 100%;
  height: 100px;
  background-color: #c8c10d;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section.container {
  display: grid;
  margin: 40px 20%;
  width: 60%;
  grid-template-columns: 1fr repeat(3, 2fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 'classic kiwi mango cantalo'
    'berry blackberry strawberry blueberry'
    'blast grapes greenap pineaplle';
}

main section.container aside.classic {
  grid-area: classic;
}

main section.container aside.berry {
  grid-area: berry;
}

main section.container aside.blast {
  grid-area: blast;
}

main section.container picture.kiwi {
  grid-area: kiwi;
}

main section.container picture.mango {
  grid-area: mango;
}

main section.container picture.cantalo {
  grid-area: cantalo;
}

main section.container picture.blackberry {
  grid-area: blackberry;
}

main section.container picture.strawberry {
  grid-area: strawberry;
}

main section.container picture.blueberry {
  grid-area: blueberry;
}

main section.container picture.grapes {
  grid-area: grapes;
}

main section.container picture.greenap {
  grid-area: greenap;
}

main section.container picture.pineaplle {
  grid-area: pineaplle;
}

main section.container picture {
  text-align: center;
}


main section.container aside h1 {
  font-family: 'magra-bold-webfont';
  font-size: 25px;
  color: #cb3362;
  margin: 30px auto;
}

main section.container aside p {
  font-family: 'roboto-regular-webfont';
  color: #7a6666;
}

main section.container picture p {
  font-family: 'lato-regular-webfont';
  color: #cb3362;
}

@media (max-width:1250px) {
  main section.container {
    margin: 40px 5vw;
    width: 90%;
  }
}


@media (max-width:900px) {
  main section.container {
    display: grid;
    margin: 40px 10%;
    width: 80%;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 1fr 2fr);
    grid-template-areas: 'classic classic classic' 'kiwi mango cantalo'
      'berry berry berry' 'blackberry strawberry blueberry'
      'blast blast blast' 'grapes greenap pineaplle';
  }
}

@media (max-width:725px) {
  nav li:nth-child(3)>a:nth-child(1) {
    display: none;
  }

  main section.container {
    display: grid;
    margin: 40px 20%;
    width: 60%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr 2fr 2fr 2fr);
    grid-template-areas: 'classic' 'kiwi' 'mango' 'cantalo'
      'berry' 'blackberry' 'strawberry' 'blueberry'
      'blast' 'grapes' 'greenap' 'pineaplle';
  }

  main section.container aside h1 {
    margin: 10px auto;
  }

  main section.container aside {
    text-align: center;
  }

  header {
    height: 140px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: -20px;
    margin: 0;
  }

  nav {
    margin-top: 40px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  nav li {
    margin: 10px;
  }
}

@media (max-width:425px) {
  header {
    height: 250px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: -30px;
    margin: 0;
  }

  nav {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  nav li {
    margin: 10px;
  }
}