@font-face {
  font-family: 'RammettoOne-Regular';
  src: url('../../fonts/RammettoOne-Regular.ttf');
}

@font-face {
  font-family: 'lato-regular-webfont';
  src: url('../../fonts/lato-regular-webfont.ttf');
}

@font-face {
  font-family: 'roboto-regular-webfont';
  src: url('../../fonts/roboto-regular-webfont.ttf');
}

@font-face {
  font-family: 'lato-bold-webfont';
  src: url('../../fonts/lato-bold-webfont.ttf');
}

@font-face {
  font-family: 'magra-bold-webfont';
  src: url('../../fonts/magra-bold-webfont.ttf');
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: 'RammettoOne-Regular';
  color: #cb3362;
  font-size: 25px;
  margin-right: 15%;
}

.top-part {
  position: relative;
  left: 80px;
  top: 23px
}

.logo>section>span {
  color: #c8c10d;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 120px;
  background-color: #efedee;
}

nav {
  width: 60%;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  margin: 45px 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'lato-regular-webfont';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav li>a:nth-child(2) {
  display: none;
}

nav a:hover {
  color: #c8c10d;
}


nav a {
  padding: 5px;
  text-decoration: none;
  color: #7a6666;
}

nav>li:nth-child(4)>a:first-child {
  color: #cb3362;
}



main section.title {
  font-family: 'lato-regular-webfont';
  width: 100%;
  height: 100px;
  background-color: #c8c10d;
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wraper {
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  color: #7a6666;
  display: grid;
  height: max-content;
  margin: 50px auto;
  grid-template-columns: 60vw 20vw;
  grid-template-rows: 1fr 1fr 50px;
  grid-template-areas:
    'first aside'
    'second aside'
    'button .';
}

.container .first {
  grid-area: first;
}

.container .second {
  grid-area: second;
}


.container .button {
  grid-area: button;
  display: flex;
  align-items: center;
}

.container .button a {
  margin: auto;
}

.container .button a:hover {
  border: none;
  background-color: #cb3362;
  color: white;
}

section.container article {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}

section.container article div.text {
  margin: 0 40px;
}

.container aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #efedee;
  padding: 30px;
  text-align: center;
  min-width: 220px;
  max-height: 800px;
}

.container h3 {
  font-weight: normal;
  font-family: 'lato-regular-webfont';
  font-size: 25px;
  color: #cb3362;
}

.container small {
  font-family: 'roboto-regular-webfont';
  font-size: smaller;
}

.container p {
  font-family: 'roboto-regular-webfont';
  line-height: 30px;
  margin: 40px 0;
}

.container a {
  font-family: 'lato-bold-webfont';
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid #7a6666;
  color: #7a6666;
}

.container a:hover {
  border: 1px solid #efedee;
  background-color: #c8c10d;
  color: white;
}

.container aside h2 {
  font-family: 'magra-bold-webfont';
  color: #cb3362;
  margin-bottom: 20px;
}

.container aside img {
  margin-bottom: 20px;
}

@media (max-width:975px) {
  .container {
    background-color: white;
    color: #7a6666;
    display: grid;
    margin: 50px auto;
    grid-template-columns: 75vw;
    grid-template-rows: 1fr 1fr 1fr 50px;
    grid-template-areas:
      'aside'
      'second'
      'first'
      'button';
  }

  .container aside {
    display: block;
    background-color: #efedee;
    padding: 30px;
    text-align: start;
    margin-bottom: 30px;

  }

  .container aside img {
    float: left;
    margin-right: 30px;
  }

  .container aside a {
    margin: auto;
  }
}

@media (max-width:725px) {
  .container {
    display: grid;
    margin: 20px auto;
    grid-template-columns: 75vw;
    grid-template-rows: 60vh 1fr 1fr 70px;
  }

  .container aside {
    display: flex;
    flex-direction: column;
    background-color: #efedee;
    padding: 20px;
    text-align: start;
    margin-bottom: 30px;
  }

  .container article {
    margin-bottom: 30px;
  }

  .container aside img {
    margin-right: 10px;
  }

  .container aside a {
    margin: 0 auto;
  }

  header {
    height: 140px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: -20px;
    margin: 0;
  }

  nav {
    margin-top: 40px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  nav li {
    margin: 10px;
  }
}

@media (max-width:555px) {
  .container article img {
    display: none;
  }

  .container {
    display: grid;
    margin: 50px auto;
    grid-template-columns: 75vw;
    grid-template-rows: 60vh 1fr 1fr 70px;
    grid-template-areas:
      'aside'
      'second'
      'first'
      'button';
  }

  .container article {
    margin-bottom: 20px;
  }
}

@media (max-width:425px) {
  .container {
    grid-template-columns: 80vw;
    grid-template-rows: 65vh 1fr 1fr 70px;
  }

  header {
    height: 250px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: absolute;
    top: -30px;
    margin: 0;
  }

  nav {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  nav li {
    margin: 10px;
  }
}